.indicador {
  display: flex;
  gap: 10px;
}

.actual {
  width: 15px;
  height: 5px;
  background-color: rgb(42, 42, 42);
  border-radius: 35%;
}

.no-actual {
  width: 5px;
  height: 5px;
  background-color: rgb(213, 211, 211);
  border-radius: 50%;
}
